on:
  workflow_call:
    inputs:
      appGitRefs:
        required: true
        type: string
      imgBuild:
        required: true
        type: string
      regName:
        required: true
        type: string
      regLogin:
        required: true
        type: string
    secrets:
      REGISTRY_TOKEN:
        description: docker registry access token
        required: true

env:
  dockerRepository: ${{ vars.DOCKER_REPOSITORY }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout github repository
        uses: actions/checkout@v4
        with:
          repository: ${{ env.dockerRepository }}
          ref: ${{ inputs.imgBuild }}
      -
        name: Setup QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: 'amd64,arm64,arm' 
      -
        name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Get the docker image metadata
        id: get_meta
        run: |
          appVersion=$(basename "${appGitRefs}")
          echo "appVersion=${appVersion}" >> $GITHUB_OUTPUT
          if [ "${appVersion}" \< "2.8.6" ]; then 
            phpVersion="7"
          else
            PhpVersion="8"
          fi
          echo "phpVersion=${phpVersion}" >> $GITHUB_OUTPUT
      -
        name: Set the docker image metadata
        id: set_meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.regLogin }}/librebooking
          tags: |
            type=raw,value=${{ steps.get_meta.outputs.appVersion }},suffix=-${{ inputs.imgBuild }}
            type=raw,value=${{ steps.get_meta.outputs.appVersion }}
      -
        name: Log into registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.regName }}
          username: ${{ inputs.regLogin }}
          password: ${{ secrets.REGISTRY_TOKEN }}
      -
        name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          build-args: |
            PHP_VERSION=${{ steps.get_meta.outputs.phpVersion }}
            APP_GH_REF=${{ inputs.appGitRefs }}
          tags: ${{ steps.set_meta.outputs.tags }}
          push: true
