name: Build and publish develop and last release container images on schedule

on:
  schedule:
    - cron: '0 1 * * 6'

jobs:
  build-develop:
    uses: ./.github/workflows/build_and_publish.yml
    with:
      appGitRefs: refs/heads/develop
      imgBuild: ${{ vars.IMAGE_BUILD }}
      regName: ${{ vars.REGISTRY_URL }}
      regLogin: ${{ vars.REGISTRY_LOGIN }}
    secrets:
      REGISTRY_TOKEN: ${{ secrets.REGISTRY_TOKEN }}
  build-release:
    uses: ./.github/workflows/build_and_publish.yml
    with:
      appGitRefs: refs/tags/${{ vars.APP_LAST_RELEASE }}
      imgBuild: ${{ vars.IMAGE_BUILD }}
      regName: ${{ vars.REGISTRY_URL }}
      regLogin: ${{ vars.REGISTRY_LOGIN }}
    secrets:
      REGISTRY_TOKEN: ${{ secrets.REGISTRY_TOKEN }}
